@font-face {
  font-family: 'osp-dindin';
  src: url("fonts/osp-din-webfont.eot");
  src: url("fonts/osp-din-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/osp-din-webfont.woff2") format("woff2"), url("fonts/osp-din-webfont.woff") format("woff"), url("fonts/osp-din-webfont.ttf") format("truetype"), url("fonts/osp-din-webfont.svg#osp-dindin") format("svg");
  font-weight: normal;
  font-style: normal;
}

::-webkit-input-placeholder {
  color: #000000;
}

:-moz-placeholder {
  color: #000000;
}

::-moz-placeholder {
  color: #000000;
}

:-ms-input-placeholder {
  color: #000000;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0 0 10px 0;
  line-height: 120%;
}

h1, h2 {
  font-family: "osp-dindin";
  color: #1d57b5;
  line-height: 100%;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
}

h4, h5, h6 {
  font-size: 1.1em;
  font-weight: bold;
}

body {
  background-color: #ffffff;
  font-size: small;
}
@media (min-width: 997px) {
  body {
    background: url("../images/bg-main.jpg") top center no-repeat;
  }
}

.page {
  background: url("../images/bg-starburst.png") -187px -165px no-repeat #f7da04;
  max-width: 988px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page {
    background: url("../images/bg-starburst.png") -178px -158px no-repeat #f7da04;
  }
}
@media (min-width: 997px) {
  .page {
    background: url("../images/bg-starburst.png") -168px -158px no-repeat #f7da04;
    padding: 0 10px;
    max-width: 1008px;
  }
}
@media (min-width: 1170px) {
  .page {
    background: url("../images/bg-starburst.png") -100px -220px no-repeat #f7da04;
    max-width: 988px;
  }
}

.section.carousel {
  background: #ffffff;
}
.section.content {
  padding: 10px 0;
  background: #ffffff;
}

.header {
  height: 88px;
  position: relative;
}
@media (min-width: 768px) {
  .header {
    height: 112px;
  }
}
@media (min-width: 1170px) {
  .header {
    height: 73px;
    margin-top: 90px;
  }
}

.main-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  float: left;
  bottom: 0;
  right: 0;
}
.main-navigation li {
  float: left;
  background: url("../images/bg-menu-divider.png") bottom left no-repeat;
}
.main-navigation li:nth-child(1) {
  background: none;
}
.main-navigation a {
  display: block;
  text-transform: uppercase;
  font-family: "osp-dindin";
  font-size: 2.0em;
  color: #1d57b5;
  padding: 5px 10px;
  line-height: 100%;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.main-navigation a:hover, .main-navigation a.active {
  color: #ffffff;
}
@media (max-width: 768px) {
  .main-navigation {
    display: none;
  }
}

.mobile-navigation-button {
  position: absolute;
  right: 15px;
  bottom: 12px;
  font-size: 2.5em;
  color: #ffffff;
  line-height: 100%;
}
.mobile-navigation-button:hover, .mobile-navigation-button:focus {
  color: #ffffff;
}
@media (min-width: 769px) {
  .mobile-navigation-button {
    display: none;
  }
}

.logo {
  position: absolute;
  top: 7px;
  left: 8px;
}
.logo a {
  display: block;
  background: url("../images/logo.png") 0 0 no-repeat transparent;
  width: 80px;
  height: 74px;
  background-size: cover;
  text-indent: -9000px;
}
@media (min-width: 768px) {
  .logo {
    top: 14px;
    left: 18px;
  }
}
@media (min-width: 1170px) {
  .logo {
    top: -75px;
    left: 57px;
  }
  .logo a {
    width: 146px;
    height: 135px;
  }
}

.carousel {
  padding: 10px;
  border-bottom: 10px solid #f7da04;
}
.carousel img {
  width: 100%;
}

.copy {
  padding-bottom: 10px;
}
.copy h2 {
  text-transform: uppercase;
  border-bottom: 2px solid #f7da04;
  margin-bottom: 10px;
}
.copy .members-image {
  text-align: center;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid #eaeaea;
}
.copy .members-url {
  padding: 15px 0 0 0;
}
.copy ul {
  list-style: square outside url("../images/bg-bullet-point.png");
  padding-left: 20px;
  margin: 10px 0;
}
.copy ul li {
  padding-bottom: 10px;
  font-weight: bold;
}
@media (max-width: 480px) {
  .copy.responsive-imagery img {
    width: 100%;
  }
}

.container {
  padding: 0 10px;
}

.hero {
  background: #ffffff;
  padding: 10px 0;
  border-bottom: 10px solid #f7da04;
}
.hero .imagery {
  width: 100%;
  height: 128px;
}
.hero .imagery.responses {
  background: url("../images/bg-hero-responses.png") top center no-repeat;
}
.hero .imagery.members {
  background: url("../images/bg-hero-members.png") top center no-repeat;
}
@media (min-width: 768px) {
  .hero .imagery {
    height: 212px;
  }
}

.gutter-10 .row {
  margin-right: -10px;
  margin-left: -10px;
}
.gutter-10 > [class^="col-"],
.gutter-10 > [class^=" col-"] {
  padding-right: 10px;
  padding-left: 10px;
}

ul.news-list,
ul.responses-list,
ul.members-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.news-list li,
ul.responses-list li,
ul.members-list li {
  padding-bottom: 5px;
  font-weight: normal;
}
ul.news-list span,
ul.responses-list span,
ul.members-list span {
  display: block;
}
ul.news-list .title,
ul.news-list .date,
ul.responses-list .title,
ul.responses-list .date,
ul.members-list .title,
ul.members-list .date {
  color: #2e4d6c;
  font-weight: bold;
}
ul.news-list .sub-title,
ul.responses-list .sub-title,
ul.members-list .sub-title {
  color: #444444;
}

.responses-list a {
  display: block;
  padding-right: 50px;
  background: url("../images/bg-right-arrow.png") right 4px no-repeat;
}
.responses-list li {
  padding: 5px 0;
  line-height: 130%;
}
.responses-list li:nth-child(odd) {
  background: #eaeaea;
}
@media (max-width: 767px) {
  .responses-list {
    display: none;
  }
}

ul.members-list a {
  display: block;
}
ul.members-list a:hover .title {
  color: #2e4d6c;
}
ul.members-list li {
  clear: left;
  float: left;
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
  width: 100%;
}
ul.members-list li:nth-last-child(1) {
  border: none;
}
ul.members-list img {
  max-width: 140px;
  float: left;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  ul.members-list img {
    display: none;
  }
}
ul.members-list .title {
  margin-left: 160px;
  padding-bottom: 20px;
  background: url("../images/bg-right-arrow.png") bottom left no-repeat transparent;
  color: #1d57b5;
}
@media (max-width: 767px) {
  ul.members-list {
    display: none;
  }
}

.quick-navigation {
  padding-bottom: 10px;
}
.quick-navigation label {
  display: block;
  color: #1d57b5;
}
.quick-navigation select {
  padding: 6px 30px 7px 10px;
  border: 1px solid #1d57b5;
  width: 300px;
  background: url("../images/bg-quick-select.png") center right no-repeat white;
  line-height: 1;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  font-weight: bold;
}
.quick-navigation select:focus {
  outline: none;
}
@media (max-width: 480px) {
  .quick-navigation select {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .quick-navigation {
    display: none;
  }
}

.read-more {
  color: #1d57b5;
  white-space: nowrap;
}

.facts-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 205px;
  background: #558CC5;
  margin-bottom: 20px;
}
.facts-list li {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
}
.facts-list .fact {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.facts-list .fact p {
  line-height: 150%;
  font-weight: bold;
}
.facts-list .fact-bg-1 {
  background: url("../images/bg-fact.png") 50% 50% no-repeat;
}

.header-link {
  display: block;
  text-transform: uppercase;
  background: url("../images/bg-right-arrow.png") right 7px no-repeat transparent;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.header-link:hover {
  text-decoration: none;
}
@media (min-width: 768px) {
  .header-link {
    margin-right: 11px;
  }
}

.footer {
  background: url("../images/bg-starburst-half.png") right -190px no-repeat #f7da04;
  height: 60px;
  position: relative;
  box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.18);
}
.footer h2 {
  position: absolute;
  top: 8px;
  right: 12px;
  color: #ffffff;
  font-size: 2.6em;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .footer {
    height: 90px;
  }
}

.footer-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
}
.footer-navigation li {
  float: left;
  background: url("../images/bg-menu-divider-reversed.png") 0 -5px no-repeat;
}
.footer-navigation li:nth-child(1) {
  background: none;
}
.footer-navigation a {
  color: #1d57b5;
  font-size: 0.9em;
  font-weight: bold;
  padding: 10px;
  display: block;
  text-decoration: none;
}
.footer-navigation a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .footer-navigation {
    display: none;
  }
}

.title-large {
  text-transform: uppercase;
}
@media (max-width: 997px) {
  .title-large {
    display: none;
  }
}

@media (min-width: 998px) {
  .title-small {
    display: none;
  }
}

#menu a {
  font-family: "osp-dindin";
  text-transform: uppercase;
  font-size: 1.6em;
  color: #1d57b5;
}
#menu a.ftr {
  font-size: 1.2em;
  color: #000000;
}
#menu .mm-navbar {
  text-align: right;
  padding: 0 20px;
}
#menu .mm-navbar a {
  font-family: "osp-dindin";
  color: #cccccc;
}
